<div class="brand-wrap">
    <div class="brand">
        <a href="/" class="head-portrait">
            <img src="assets/img/sidebar/cumane.jpg" alt="head-img">
        </a>
        <div class="introduce">
            <h5 class="nickname">ltsok</h5>
            <a href="mailto:ltsoksir@sina.com" target="_blank" title="ltsoksir@sina.com" class="mail">ltsoksir@sina.com</a>
        </div>
    </div>
</div>
<mat-nav-list>
    <mat-list-item *ngFor = "let item of menus">
        <svg matListIcon class="svgicon" aria-hidden="true">
            <use xlink:href="#lts-default1"></use>
        </svg>
        <h3 matLine routerLink="/login">Heroes</h3>
    </mat-list-item>
</mat-nav-list>
